// {{cookiecutter.project_name}}

doctype html
html(lang='en')
  head
    title {{cookiecutter.project_name}}
    include ./partials/head.jade

    meta(property='og:title', content='{{cookiecutter.project_name}}')
    meta(property='og:url', content='{{cookiecutter.website}}')
    link(rel='canonical', href='{{cookiecutter.website}}')
    link(rel='stylesheet', type='text/css', href='css/libraries.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    h1 {{cookiecutter.project_name}}
    p {{cookiecutter.project_short_description}}

    script(type='text/javascript', src='js/libraries.js')
    script(type='text/javascript', src='js/app.js')
    script.
      var app = require('app');
      app.init();
